<div *ngIf="startedGame">
  <div class="status text-center p-4">
      {{statusMessage}}
  </div>
  <div class="board" *ngFor="let row of [0,1,2]">
      <app-cuadro *ngFor="let col of [0,1,2]" [row]="row" [col]="col" [piece]="board[row][col]"
          (click)="move(row,col)">
      </app-cuadro>
  </div>
  <div class="pt-2"></div>
  <button *ngIf="gameOver" class="btn btn-primary new-game" (click)="newGame()">Nuevo juego</button>
  <button *ngIf="gameOver" class="btn btn-danger new-game" (click)="exitGame()">Salir</button>
</div>

<div *ngIf="!startedGame">
  <div class="status text-center p-4">
     <h3>Tic tac Toe</h3>
  </div>
  <div class="pt-2"></div>
  <button class="btn btn-primary new-game" (click)="initGame()">Iniciar juego</button>
</div>