.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.btncenter{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dark{
    color: white;
    background-color: #272626;
}